* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quadrado{
    width: 150px;
    height: 150px;
}

.container{
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: repeat(3, 100px);
}

.item-1{
    background-color: blueviolet;
    grid-row: 1/4;
    grid-column: 1/3;
}
.item-2{
    background-color: rgb(161, 99, 219);
}
.item-3{
    background-color: rgb(192, 147, 235);
}