body{
    /*Faz com que tenha imagem de fundo*/
    background-image: url("https://rounder.pics/assets/img/ui/square-image.webp");
     /* Faz com que */
     background-size: 1900px;
}

#red{
    color: rgb(180, 31, 31);
}
#green{
    color: green;
}
#blue{
    color: blue;
}

h2{
    color: rgba(90, 25, 255, 0.877);
}
p{
    /* HEX ou código hexadecimal representa uma cor específica. Esse código é como você receberá de de seus designer as cores 
    para construir os sites de seus clientes */
}