/*aprendendo Media Query*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
}

@media screen and (max-width:768px){
    body {
        background-color: green;
    }
}